body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: url("https://res.cloudinary.com/dqpvrfjeu/image/upload/v1763207495/u1thjumomnyjwwjwd74x.jpg") no-repeat center center fixed;
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.6);
}

.logo {
  width: 140px;
  margin-bottom: 10px;
}

nav {
  background: rgba(0,0,0,0.7);
  text-align: center;
  padding: 12px;
}

nav button {
  margin: 5px;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}

.section {
  display: none;
  background: rgba(0,0,0,0.65);
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
}

.visible {
  display: block;
}

.box {
  background: rgba(0,0,0,0.8);
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
}

.hidden { display: none; }

.row {
  margin-bottom: 14px;
  display: block;
}

.two {
  display: flex;
  gap: 10px;
}

.primary {
  background: #1e90ff;
  padding: 10px;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
}

#galleryContent img,
#dlPreview img {
  width: 180px;
  margin: 8px;
  border-radius: 6px;
}

.preview img {
  width: 340px;
  border-radius: 6px;
  margin-top: 12px;
}
